.label {
	color: #c2bfb6;
}

.arrow {
    position: relative;
    transition: all .5s ease;
    padding: .5em;
    display: inline-block;
    // Decoration  
    padding: 10px 30px 10px 30px;
    color: rgba(255, 255, 255, .8);
    border: 2px solid white;
    border-radius: 5px;
    // text-decoration: underline dotted currentColor;
}
.arrow:hover {
    padding: 10px 30px 10px 30px;
}

.arrow:before,
.arrow:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background: currentColor;
	color:  rgba(255, 255, 255, .8);
    position: absolute;
    right: 35px;
    top: 22px;
    transform-origin: left center;
    transform: rotate(0deg);
    transition: all .5s ease;
    opacity: 0;
}
.arrow:hover:after,
.arrow:hover:before {
    transform-origin: left center;
    opacity: 1;
    right: 35px;
}
.arrow:hover:after {
    transform: rotate(-45deg);
}
.arrow:hover:before {
    transform: rotate(45deg);
}

.arrow:hover > #backText {
    opacity: 0;
}

.arrow:hover:after > #backText {
    opacity: 0;
}
//Set up
// body {
//   padding: 100px;
//   background: linear-gradient(90deg, #fe8c00 10%, #f83600 90%); 
// }
