.footer {
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1411;
  color: #c2bfb6;
  font-size: .825em;
  padding: 2em;
  position: absolute;
  bottom: 0;
}

.footerP{
  text-align: center;
}