.caption {
  background-color: #050505aa;
  padding: 2em;
  border-radius: 1em;
}

.carouselWrapper {
  width: 600px;
  margin-top: 2em;
}

.carouselCaption {
  background-color: brown;
  margin: 0em 2em 2em 2em;
  color: white;
  border-radius: 0em 0em 2em 2em;
  padding: 2em;
  z-index: 10;
}
.carouselImg {
  z-index: 1;
}