@use '../../styles/variables';


.pageHeader {
	height: 70px;
	background-color: brown;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1em 2em;
}

.headerDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}
